*{
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header{
    text-align: center;
    padding-bottom:  20px;
    margin-bottom: 20;
      background-color: darkgrey;
      border-top-left-radius:10px ;
      border-top-right-radius:10px;
      color: white;
      border: solid 2px whitesmoke;
}