body{
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.grid-container{
    display: grid;
    box-sizing: border-box;
    background-color: lightgray;
    border: dashed black 2px;
    width: 80%;
    height: 84vh;
    margin: auto;
    padding: 20px;
    grid-template-areas: 10% / 20% / auto / auto / 10%;

}
div{
border:solid black 4px;
text-align: center;
background-color: lightgray;
}
.item1{
grid-area: 10%;
 
}